main.py
.idea/
__pycache__
lesson9/__init__.py
lesson10/__init__.py
lesson10/login_system.log
lesson13/__init__.py
lesson13/json__ponomarov.log
lesson17/randominfo-master/randominfo/images
lesson17/randominfo-master/randominfo/Candara.ttf
lesson17/randominfo-master/randominfo/data.csv
lesson17/randominfo-master/LICENSE
lesson17/randominfo-master/README.md
lesson17/randominfo-master/setup.cfg
lesson17/randominfo-master/setup.py
lesson19/app.py
lesson21/hb_test.log
lesson21/my_hb_test.log
lesson21/hblog.txt
lesson21/logger_config.json
lesson22/students.db
lesson24/user_data.env
lesson24/test_search.log
lesson26/keys_for_frames.env
lesson28/core/test_data/user_data.env
allure-report

