main.py
.idea/
__pycache__
lesson9/__init__.py
lesson10/__init__.py
lesson10/login_system.log
lesson13/__init__.py
lesson13/json__ponomarov.log
lesson17/randominfo-master/randominfo/images
lesson17/randominfo-master/randominfo/Candara.ttf
lesson17/randominfo-master/randominfo/data.csv
lesson17/randominfo-master/LICENSE
lesson17/randominfo-master/README.md
lesson17/randominfo-master/setup.cfg
lesson17/randominfo-master/setup.py
